%main.container
  = render 'header'
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle= t("settings.b_address")
        %p.general-info-text= t("form.all_fld_require")
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t("settings.s_address")
  = form_for @address, url: wizard_path, method: :put, remote: false do |f|
    - if params[:redirect].present?
      = f.hidden_field 'redirect',name: 'redirect', id: 'redirect', value: params[:redirect]
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle= t("settings.b_address")
          %p.general-info-text= t("form.all_fld_require")
        = render template: 'shopping_cart/forms/address.haml', locals: {f: f, address: @address.billing}
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle= t("settings.s_address")
        = render template: 'shopping_cart/forms/address.haml', locals: {f: f, address: @address.shipping}
        .form-group.checkbox
          %label.checkbox-label
            -#= f.check_box 'use_billing', class: 'checkbox-input',
            %input.checkbox-input{ type: "checkbox", hidden: "true", name: :use_billing, id: :use_billing}
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
    .general-text-align.mb-60
      = render 'order_summary', order: @order
      %button.btn.center-block.mb-20= t('button.save_continue')

