%main.container.general-main-wrap
  = render 'header'
  .text-center.mb-40
    %h3.general-subtitle= t('checkout.complete.thanks')
    %p.fw-300= "#{t('checkout.complete.t_send')} #{current_user.email}"
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0= "#{t('checkout.complete.thanks')} #R25314582"
        %p.general-address.mb-30= @order.created_at.strftime("%B %d, %Y")
      %p.general-address
        = "#{@address.shipping.first_name} #{@address.shipping.last_name}"
        %span
          = link_to 'edit', wizard_path(:address, redirect: 'complete'), class: "general-edit"
        %br
        = @address.shipping.address
        %br
        = "#{@address.shipping.city} #{@address.shipping.zip}"
        %br
        = @address.shipping.country_id
        %br
        = "Phone #{@address.shipping.phone}"
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0= "#{t('checkout.complete.order')} #R#{@order.number}"
      %p.general-address.mb-30= @order.created_at.strftime("%B %d, %Y")
  .visible-xs
    = render 'line_book_xs', order_items: @order_items
  .hidden-xs.divider-lg.pt-20
    = render 'line_book', order_items: @order_items
  .text-center.general-text-right
    = render 'order_summary', order: @order
  .text-center
    = link_to t('button.back_store'), cart_path, class: 'button btn btn-default mb-20'
