%main.container.general-main-wrap
  = render 'header'
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle= t("checkout.confirm.ship_address")
      = render 'mini_address', address: @address.shipping
    .col-sm-3
      %h3.general-subtitle= t("checkout.confirm.bil_address")
      = render 'mini_address', address: @address.billing
    .col-sm-3
      %h3.general-subtitle= t("checkout.confirm.ship")
      = render 'mini_delivery', delivery: @delivery
    .col-sm-3
      %h3.general-subtitle= t("checkout.confirm.pay")
      = render 'mini_payment', payment: @payment
  .visible-xs
    = render 'line_book_xs', order_items: @order_items
  .hidden-xs.divider-lg.pt-20
    = render 'line_book', order_items: @order_items
  .text-center.general-text-right
    = render 'order_summary', order: @order
  .text-center
    = button_to t('button.place_order'), next_wizard_path,authenticity_token: true, remote: false,  method: :put, class: 'button btn btn-default mb-20'
